## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [4]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')

df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [5]:
# View the column names in the data

In [6]:
# Use the describe function to gather some basic statistics

In [7]:
# Use this space to do any additional research
# and familiarize yourself with the data.

In [8]:
# What three item categories had the most entries?

In [9]:
# For the category with the most entries,
# which subcategory had the most entries?

In [10]:
# Which five clients had the most entries in the data?

In [11]:
# Store the client ids of those top 5 clients in a list.

In [12]:
# How many total units (the qty column) did the
# client with the most entries order order?

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [13]:
# Create a column that calculates the 
# subtotal for each line using the unit_price
# and the qty

In [14]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound
# for orders over 50 pounds and $10 per
# pound for items 50 pounds or under.

In [15]:
# Create a column for the total price
# using the subtotal and the shipping price
# along with a sales tax of 9.25%

In [16]:
# Create a column for the cost
# of each line using unit cost, qty, and
# shipping price (assume the shipping cost
# is exactly what is charged to the client).

In [17]:
# Create a column for the profit of
# each line using line cost and line price

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [18]:
# Check your work using the totals above

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [19]:
# How much did each of the top 5 clients by quantity
# spend? Check your work from Part 1 for client ids.

In [20]:
# Create a summary DataFrame showing the totals for the
# for the top 5 clients with the following information:
# total units purchased, total shipping price,
# total revenue, and total profit. Sort by total profit.

In [21]:
# Format the data and rename the columns
# to names suitable for presentation.
# Currency should be in millions of dollars.

In [22]:
# Sort the updated data by "Total Profit" form highest to lowest
import pandas as pd

# Assuming df is your DataFrame and it contains all the necessary columns

# Filter the DataFrame to include only the top 5 clients
top_five_client_ids = [33615, 66037, 46820, 38378, 24741]
df_filtered = df[df['client_id'].isin(top_five_client_ids)]

# Aggregate data by client_id
aggregated_df = df_filtered.groupby('client_id').agg({
    'qty': 'sum',
    'shipping_price': 'sum',
    'total_price': 'sum',
    'unit_cost': 'sum',  # Adjust this if a different operation is needed for unit_cost
    'total_profit': 'sum'
}).reset_index()

# Sort the aggregated data by 'total_profit' from highest to lowest
sorted_aggregated_df = aggregated_df.sort_values(by='total_profit', ascending=False)

# Display the sorted DataFrame
print(sorted_aggregated_df)

KeyError: "Column(s) ['shipping_price', 'total_price', 'total_profit'] do not exist"